body {
  background-image: linear-gradient(
      rgba(47, 23, 15, 0.65),
      rgba(47, 23, 15, 0.65)
    ),
    url("./../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  background-attachment: fixed;
}

$f-color: (
  "primary": $primary,
  "primary-light": $primary-light,
  "secondary": $secondary,
  "light": $light,
  "dark": $dark,
);

@each $name, $value in $f-color {
  .fc-#{$name} {
    color: $value !important;
  }

  .bg-#{$name} {
    background-color: $value !important;
  }
}

.fs-1rem {
  font-size: 1rem;
}

.fs-2rem {
  font-size: 2rem;
}

.fs-3rem {
  font-size: 3rem;
}

.fs-4rem {
  font-size: 4rem;
}

.fs-5rem {
  font-size: 5rem;
}
